@page "/"
@page "/home"
@using Blazor.UI.Helpers
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h2>Welcome to Blazor UI</h2>
<p>By Preetpal Basson (Developed & Designed)</p>

<button class="btn btn-primary" @onclick="@( () => NavigateToPage(@PathVariables.Weather) )" >Weather </button>
<button class="btn btn-primary" @onclick="@( () => NavigateToPage(@PathVariables.Counter) )" >Counter </button>
<button class="btn btn-primary" @onclick="@( () => NavigateToPage(@PathVariables.Transaction) )" >Transaction </button>

@code
{
    [Inject] NavigationManager _navManager { get; set; } = default!;


    protected async override Task OnInitializedAsync()
    {
        Console.WriteLine("Home Page Loaded");
    }

    void NavigateToPage(string navigate)
    {
        Console.WriteLine($"Navigate To {navigate}");
        _navManager.NavigateTo($"/{navigate}"); 
    }
}
