@using Blazor.UI.Models

<h3>Weather Summary! </h3>
<table class="table">
    <thead>
        <tr>
            <td>Weather Records</td>
            <td>Min Weather</td>
            <td>Max Weather</td>
            <td>Avg Weather</td>
            <td>Common Summary Weather</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@DataSource.WeatherList.Count</td>
            <td>@DataSource.MinWeather()</td>
            <td>@DataSource.MaxWeather()</td>
            <td>@DataSource.AvgWeather()</td>
            <td>@DataSource.GetSummaryDisplay()</td>
        </tr>
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var forecast in DataSource.WeatherList)
        {
            <tr>
                <td>@forecast.DateDisplay</td>
                <td>@forecast.TemperatureC</td>
                <td>@forecast.TemperatureF</td>
                <td>@forecast.GetSummaryTableDisplay()</td>
            </tr>
        }
    </tbody>
</table>


@code {
    [Parameter] public WeatherPageVM DataSource { get; set; } = default!;

}