@using Blazor.Core.Models.Settings

<h3> <i class="bi bi-thermometer-sun"></i> Weather Summary! </h3>
<table class="table">
    <thead>
        <tr>
            <td>Weather Records</td>
            <td>Min Weather</td>
            <td>Max Weather</td>
            <td>Avg Weather</td>
            <td>Most Common Weather</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Settings.WeatherList.Count</td>
            <td>@Settings.MinWeather()</td>
            <td>@Settings.MaxWeather()</td>
            <td>@Settings.AvgWeather()</td>
            <td>@((MarkupString)Settings.GetSummaryDisplay() )</td>
        </tr>
    </tbody>
</table>

@code {
    [Parameter] public WeatherSettings Settings { get; set; } = default!;

}